body {
	background: #f0eeee;
	margin: 0px;
}

#container {
	width: 100%;
}

header {
	height: 60px;
	width: 100%;
}

header .inner {
	width: 1000px;
	margin: 10px auto;
}

header .brand {
	font-size:20px;
}

.content {
	width: 100%;
}

.content .inner {
	width: 1000px;
	margin: 0px auto; 
}

footer {
	width: 100%;
}

footer .inner {
	width: 1000px;
	margin: 0px auto;
}